[project]
	description = "ngTable  with auto sorting,and sorting by change the value"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jayanthbabu123
[access "refs/for/refs/*"]
	read = group user/jayanthbabu123
	push = group user/jayanthbabu123
	label-Code-Review = -2..+2 group user/jayanthbabu123
	label-Verified = -1..+1 group user/jayanthbabu123
	rebase = group user/jayanthbabu123
	removeReviewer = group user/jayanthbabu123
	submit = group user/jayanthbabu123
[access "refs/heads/*"]
	read = group user/jayanthbabu123
	create = group user/jayanthbabu123
	push = +force group user/jayanthbabu123
	pushMerge = group user/jayanthbabu123
[access "refs/tags/*"]
	push = group user/jayanthbabu123
	push = +force group user/jayanthbabu123
